Repository intuit/RWebPulse, pull requests merged in 2023-10, with the labels that each got.

#15 Update build git actions
  .github/workflows/maven-merge-build
  .github/workflows/maven-pr-build.yml
Labels: Actions

#19 feat: fix Logging Improvements in Spring WebClient calls + Redundant Getter Removed
  src/main/java/com/intuit/springwebclient/client/CommonSpringWebClient.java
  src/main/java/com/intuit/springwebclient/entity/ClientHttpResponse.java
Labels: hacktoberfest

#27 Remove unused dependencies in pom
  pom.xml
Labels: hacktoberfest

#26 Fix Labeler for forked PRs
  .github/workflows/pr-labeler.yml
Labels: hacktoberfest

#31 Avoid WebClient bean name conflict
  src/main/java/com/intuit/springwebclient/client/CommonSpringWebClient.java
  src/main/java/com/intuit/springwebclient/config/WebClientConfiguration.java
Labels: good first issue, Code, hacktoberfest

#35 feat: increase code coverage for retryHandlerFactory
  src/test/java/com/intuit/springwebclient/retryHandler/RetryHandlerFactoryTest.java
Labels: hacktoberfest, Tests
